*{
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: aliceblue; */
}
.container{
    margin:30px auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#circle{
    background-color: blueviolet;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:3px 5px 8px 1px grey ;
    border-radius: 50%;
}
.shape2{
    width: 150px;
    height: 150px;
    background-color:rgb(240, 238, 241); 
    box-shadow: inset 2px 2px 3px 1px grey ;

  
}
.circle{
    width: 150px;
    height: 150px;
    background-color:rgb(240, 238, 241); 
    box-shadow: inset 2px 2px 3px 1px grey ;
    border-radius:50%;
}
.triangle{
      width:0; height:0; border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid rgb(240, 238, 241);
}
.rightAngle{
    border-bottom: 150px solid rgb(240, 238, 241);
    border-right: 150px solid transparent;;
}
.cone {
    width: 0;
    height: 0;
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-top: 150px solid rgb(240, 238, 241);
    border-radius: 50%;
  }
#button{
    margin:30px;
    width:15rem;
    height:3rem;
    font-size: 1.5rem;
    box-shadow:0px 0px 10px 0px grey ;
    border: none;
    background-color: rgba(136, 241, 141, 0.1);
    border-radius: 10px;
}
#button:hover{
    background-color: rgb(190, 136, 241,0.15);
    box-shadow:0px 0px 7px 0px grey ;
}