
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
   width: 50vw;
  position: absolute;
  top: 20%;
  left: 65%;
  transform: translateX(-50%);
}
#box {
    height: 250px;
    width: 250px;
    background-color: red;
    /* margin: 100px 0; */
    cursor: pointer;
}

#box:hover {
    box-shadow: 0px 0px 30px grey;
}

h1 {
    /* text-align: center; */
}